*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: url("winter.jpg");
    background-size: cover;
    background-position: top center;
    transition: 2s ease all;

}

.app-wrap{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: #313131;
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

header input:focus{
    background-color: rgba(255, 255, 255, 0.6);
}

main{
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 50px;
}

.location .city{
    font-size: 3rem;
    color: #FFF;
    font-weight: 300;
    margin-bottom: 5px;
}

.location .date{
    font-size: 1.3rem;
    color: #FFF;
}

.current .temp{
    font-size: 5rem;
    color: #FFF;
    font-weight: 900;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    font-size: 1.3rem;
    color: #FFF;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.current .hi-low{
    align-items: center;
    font-size: 1.3rem;
    color: #FFF;
    font-weight: 300;
    justify-content: center;
    display: flex;
}

.current{
    align-items: center;
    justify-content: center;
}